.about-us-div {
  font-family: 'Sen', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us {
  margin: 20px;
  font-weight: 700;
  font-size: 40px;
}

.profiles {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.person {
  background-color: black;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 300px;
  height: auto;
}

.person > h1 {
  font-size: 24px;
  margin: 15px 0;
}

.about-logo {
  fill: white;
  margin: 5px;
}

.our-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.our-games > *:not(p) {
  text-decoration: none;
  color:rgb(83, 83, 83)
}
