.about-us-div {
  font-family: 'Sen', sans-serif;
}

.profiles {
  display: flex;
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.person {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 300px;
  height: auto;
}
