.display-text {
  padding-bottom: 50px;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-li {
  text-align: center;
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

.checkbox-li span {
  width: 100%;
}

.checkbox-li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  transition-duration: 0.3s;
}

.checkbox-input + span {
  border: 1px solid white;
  border-radius: 2px;
  margin: 5px 5px;
  padding: 5px;
}

.checkbox-input:checked + span {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.checkbox-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-bottom: 15px;
  width: 80%;
}