.games-container {
  /* border: 1px solid red; */
  width: 80vw;
  margin: 20px 0;
}

.main-game-index-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid blue; */
  display: flex;
}

.games-list {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  opacity: 80%;
  transition-duration: 0.5s;
}

.games-list:hover {
  opacity: 100%;
  cursor: pointer;
}

.games-li {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 20px 10px;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.game-image-index {
  width: 250px;
  height: 250px;
  margin: 5px 0;
}

.game-index-title:hover {
  cursor: pointer;
}