.games-container {
  width: 80vw;
  margin: 20px 0;
}

.all-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.games-list {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  opacity: 90%;
  
}

.games-list:hover {
  cursor: pointer;
  opacity: 100%;
  transition-duration: 0.5s;
}

.games-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  text-decoration: none;
  color: white;
  
}

li {
  list-style: none;
}

.game-image-index {
  width: 200px;
  height: 200px;
  object-fit: fill;
  margin: 5px 0;
}

.game-index-title:hover {
  cursor: pointer;
}

.game-count {
  display: flex;
  justify-content: center;
  height: 20px;
}