.main-header-div {
  /* border: 1px solid red; */
  font-family: 'Sen', sans-serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  padding-right: 2px;
  height: 50px;
  background-color: rgb(20, 20, 20);
}

.header-left {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 200px;
  min-width: 100px;
}

.dice {
  font-size: 28px;
  color: white;
}

.logo-text {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.header-right {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  height: 100%;
  /* width: 300px; */
}

.login-container {
  /* border: 1px solid red; */
  width: 150px;
  margin: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.login-header-btn {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 10px;
}

/* LOGGED IN */

.logout-container {
  /* border: 1px solid red; */
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

.username-btn {
  /* border: 1px solid blue; */
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.logout-btn {
  cursor: pointer;
  background: black;
  color:white;
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 14px;
}

.logout-btn:hover {
  opacity: 80%;
}