.main-page-div {
  font-family: 'Sen', sans-serif;
  display: flex;
  /* position: inherit; */
  /* top: 50px; */
  /* border: 1px solid red; */
  height: 100%;
  width: 100vw;
}

/* LOGGED OUT */

.splash-page {
  position: fixed;
  z-index: -1;
  top: 50px;
  background-color: rgb(0, 36, 26);
  height: 100vh;
  min-width: 550px;
}

.splash-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-image: url("../images/wild.jpg");
  width: 100vw;
  min-width: 550px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-title {
  /* border: 1px solid red; */
  font-size: 70px;
  font-weight: 700;
  color: white;
  opacity: 80%;
}

.splash-text-container {
  padding: 20px 60px;
  color: white;
  opacity: 90%;
  min-width: 390px;
}

/* LOGGED IN */

.logged-in-main {
  /* border: 1px solid red; */
  position: fixed;
  z-index: -1;
  background-color: rgb(0, 22, 54);
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
}

/* .main-image-container {
  display: inline-block;
  background-image: url("../images/space.jpg");
  background-size: 1500px 2250px;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  width: 100vw;
  min-width: 550px;
  height: 50vh;
  background-position: 0px -300px;
} */

.games-index-container {
  padding-top: 50px;
  padding-left: 20px;
  color: white;
}

