.main-page-div {
  font-family: 'Sen', sans-serif;
  position: inherit;
  top: 50px;
  /* border: 1px solid red; */
  height: 100%;
  width: 100vw;
}

/* LOGGED OUT */

.splash-page {
 background-color: rgb(0, 36, 26);
 height: 100vh;
}

.splash-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/wild.jpg");
  width: 100vw;
  min-width: 550px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-title {
  /* border: 1px solid red; */
  font-size: 70px;
  font-weight: 700;
  color: white;
  opacity: 80%;
}

.splash-text-container {
  padding: 20px 60px;
  color: white;
  opacity: 90%;
}

/* LOGGED IN */

.logged-in-main {
  border: 1px solid red;
  margin-top: 50px;
  height: 100px;
  width: 100vw;
}