.main-page-div {
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  height: 100vh;
  width: 100vw;
}

/* LOGGED OUT */

.splash-page {
  position: fixed;
  z-index: -1;
  top: 50px;
  background-color: rgb(0, 36, 26);
  height: 100vh;
  min-width: 550px;
}

.splash-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/wild.jpg");
  width: 100vw;
  min-width: 550px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* z-index: 10; */
}

.splash-text-container {
  padding: 20px 60px;
  color: white;
  opacity: 90%;
  min-width: 390px;
}

/* LOGGED IN */

.logged-in-main {
  /* border: 1px solid red; */
  position: fixed;
  z-index: -1;
  background-color: rgb(0, 22, 54);
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
}

.main-image-container {
  display: inline-block;
  background-image: url("../images/space.jpg");
  background-size: 1500px 2250px;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  width: 100vw;
  min-width: 550px;
  height: 50vh;
  background-position: 0px -300px;
}

.splash-title {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  margin-top: 50px;
  font-size: 70px;
  font-weight: 700;
  color: white;
  opacity: 80%;
  z-index: -1;
}

.games-checkbox-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 500px;
  padding: 50px 0px 100px;
  color: white;
}

.scroll-containers {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
}

.categories-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: scroll;
  width: 250px;
  height: 300px;
}

.mechanics-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: scroll;
  width: 250px;
  height: 300px;
}

.artwork-cred {
  color: white;
  font-size: 12px;
}
