.main-signup-div {
  font-family: 'Sen', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(87, 175, 179);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

