.main-user-show-div {
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.user-show-background {
  position: fixed;
  z-index: -1;
  top: 50px;
  background-color: rgb(0, 36, 26);
  background-image: linear-gradient(rgb(23, 62, 121), rgb(2, 15, 36));
  height: 100vh;
  width: 100vw;
}

.user-contents {
  width: 90vw;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.user-profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.user-username {
  font-weight: 700;
  font-size: 40px;
}

.user-link-options {
  margin: 10px;
}

.user-link-options > * {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.user-link-options > *:hover {
  color: rgba(255, 255, 255, 0.5);
}

.user-games {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-title {
  font-size: 24px;
  font-weight: 700;
}

.user-games-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-games-li {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  
}

.user-game-link {
  text-decoration: none;
  color: white;
}

.user-game-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.user-game-image {
  height: 200px;
  width: 200px;
}

.user-game-review {
  border-top: 1px solid rgb(165, 165, 165);
  margin-top: 10px;
  width: 100%;
  text-align: justify;
}